@import '../variables.scss';
@mixin icon($ICON) {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 20px;
  background-image: url($ICON);
  background-size: cover;
  background-position: center;
}
$BURGER: './src/burger.png';
$SEARCH: './src/search.png';

.header-wrapper {
  position: fixed;
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.header {
  &-left, &-right {
    display: flex;
    align-items: center;
  }

  &-burger {
   @include icon($BURGER);
  }

  &-logo {
    font-family: $serif;
    font-size: 20px;
  }

  &-search {
    @include icon($SEARCH);
  }
}
