@import '../variables.scss';

.login-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}

.login-video {
  width: 100%;
}

.login-background {
  border: 1px solid black;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $black;
  opacity: 0.3;
}

.login-box {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transform: translate(-50%, -50%);
}

.login {
  &-logo {
    margin-bottom: 60px;
    font-family: $cursive;
    font-size: 70px;
    color: $white;
  }

  &-title {
    margin-bottom: 50px;
    font-family: $serif;
    font-size: 20px;
    color: $white;
  }
}

.login-buttons {
  button {
    border: 0;
    width: 180px;
    margin: 10px;
    padding: 10px;
    font-family: $serif;
    font-size: 12px;
    border-radius: 5px;
    // color: $white;
  }

  .login-with {
    &-facebook {
      border: 3px solid #c6d1ff;
      background-color: #c6d1ff;
    }

    &-google {
      border: 3px solid #ffdfd2;
      background-color: #ffdfd2;
    }
  }

}
