@import '../variables.scss';
@mixin keyframes($animationName) {
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animation($str) {
  animation: #{$str};
}

@include keyframes(nav-slide-open) {
  0% { left: -30%; }
  100% { left: 0; }
}

@include keyframes(nav-slide-close) {
  0% { left: 0; }
  100% { left: -30%; }
}

.nav-wrapper {
  border: 1px solid $black;
  position: absolute;
  width: 250px;
  height: 100vh;
  @include animation('nav-slide-open .5s');
}

.nav-close {
  position: absolute;
  right: -20px;
  cursor: pointer;
}
